@charset "utf-8";
#header{
	margin-bottom: 20px;
	height: 120px;
	width: auto;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
}
.panduan{
	height: 100px;
	width: 230px;
	float: left;
	position: absolute;
	margin-top: 100px;
	margin-left: 600px;
	font-family: Arial, Helvetica, sans-serif;
}

.informasi{
	height: auto;
	width: auto;
	float: left;
	position: absolute;
	margin-top: 100px;
	margin-left: 400px;
	font-family: Arial, Helvetica, sans-serif;
}

.informasi2{
	height: auto;
	width: auto;
	float: left;
	position: absolute;
	margin-top: 120px;
	margin-left: 400px;
	font-family: Arial, Helvetica, sans-serif;
}

#navigasi{
	height: 500px;
	overflow: scroll;
	width: 230px;
	float: left;
	margin-right: 15px;
	border: thin solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
}
#isi{
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
	width: auto;
}
#footer{
	height: 25px;
	border: thin inset #CCC;
	text-align: center;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-top: 5px;
	background-color: #7190E0;
}
body {
	background-image: url(images/bg.jpg);
}/* CSS Document */
