@charset "utf-8";
/* CSS Document */

#logo{
	height: 120px;
	margin-bottom: 70px;
	width: 600px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#title{
	float: none;
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 10pt;
	text-decoration: underline;
}
#isi{
	font-size: 8pt;
}
.tr-title{
	font-size: 9pt;
	font-weight: bold;
	color: #000;
	background-color: #CCC;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	
}
